#selectionBtns,
#increaseBtns,
#importSelection,
#visibilityBtns,
#showSorting,
#sortingOrder,
#takeScreenshot,
#takeScreenshot2,
#lockMode,
#viewMode,
#filterMode,
#removeFilters {
	pointer-events: none !important;
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	user-select: none !important;
	filter: opacity(32%);
}

#news, #filters, #items, .syncPair {
	pointer-events: none !important;
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	user-select: none !important;
	filter: grayscale(50%);
}

.syncRole,
.buttonGroup *:not(.buttonGroupTitle):not(.buttonGroupTitle2) {
	display: none !important;
}